###
# Unity folders and files
###
/SpareNone/[Aa]ssets/AssetStoreTools*
/SpareNone/[Bb]uild/
/SpareNone/[Ll]ibrary/
/SpareNone/[Ll]ocal[Cc]ache/
/SpareNone/[Oo]bj/
/SpareNone/[Tt]emp/
/SpareNone/[Uu]nityGenerated/

/jam-10-2024/[Aa]ssets/AssetStoreTools*
/jam-10-2024/[Bb]uild/
/jam-10-2024/[Ll]ibrary/
/jam-10-2024/[Ll]ocal[Cc]ache/
/jam-10-2024/[Oo]bj/
/jam-10-2024/[Tt]emp/
/jam-10-2024/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
